.audio
  .wrap
    .row
      %h4 FancyMusic
      %br
    .row
      %a#submit{:href => "#", 'data-reveal-id' => 'graphModal'} 播放

    .reveal-modal#graphModal{'data-reveal' => true, 'aria-labelledby' => true, 'aria-hidden' => true, role: 'dialog'}
      .graph-modal
        #wave-graph

%ul.hide#audio-assets
  %li.music-1
    = audio_tag("music-1.mp3")
  %li.music-2
    = audio_tag("music-2.mp3")
  %li.music-3
    = audio_tag("music-3.mp3")
  %li.music-4
    = audio_tag("music-4.mp3")
  %li.music-4
    = audio_tag("music-5.mp3")
  %li.music-5
    = audio_tag("test.mp3")
