.audio
  .wrap
    .row
      %h4.text-center Fancy Music
      %br
    .row
      .large-10.columns.large-centered
        .row
          .large-2.columns
            %label
              %h5 选择音乐
          .large-10.columns
            %select#select-music
              %option{:value => "0"} 琵琶语
              %option{:value => "1"} 乱红
              %option{:value => "2"} 桃花渡
              %option{:value => "3"} 亘古的思念
              %option{:value => "4"} 爱的罗曼史
              %option{:value => "5"} Light Returning
        .row
          .large-2.columns
            %label
              %h5 选择效果
          .large-10.columns
            %select#select-effect
              %option{:value => "wave"} 波形
              %option{:value => "points"} 点集
              %option{:value => "circle", disabled: true} 图形
              %option{:value => "nature", disabled: true} 自然
    %br
    %br
    %br
    .row.text-center
      %a#submit.button{:href => "#", 'data-reveal-id' => 'graphModal'} 播放

    .reveal-modal#graphModal{'data-reveal' => true, 'aria-labelledby' => true, 'aria-hidden' => true, role: 'dialog'}
      .graph-modal
        #wave-graph
        .loading
          %i.fa.fa-spinner.fa-spin
          %p 努力加载中……
      %a.close-reveal-modal{'aria-label' => 'close'} &#215;

%ul.hide#audio-assets
  %li.music-1
    = image_tag("music-0.mp3")
  %li.music-2
    = image_tag("music-1.mp3")
  %li.music-3
    = image_tag("music-2.mp3")
  %li.music-4
    = image_tag("music-3.mp3")
  %li.music-4
    = image_tag("music-4.mp3")
  %li.music-5
    = image_tag("music-5.mp3")
