.tools
  .wrap
    .row
      %ul.large-block-grid-3
        %li
          = link_to tools_ecg_path do
            %h5 心电图
            %small 实时显示心电数据
            %br
            = image_tag("ecg.png")
        %li
          = link_to tools_audio_path do
            %h5 音乐
            %small 根据音乐生成动画
            %br
            = image_tag("fancymusic.png")
        %li
          = link_to tools_capture_path do
            %h5 拼拼
            %small 简单拼图
            %br
            = image_tag("capture.png")
        %li
          %a{:href => "http://es6.larklearning.com/examples/promise.html"}
            %h5 Github
            %small Gihub 数据
            %br
            = image_tag("github-tool.png")
