.temp-app.temp{:'ng-app' => "tempApp"}
  .ng-controller{:'ng-controller' => "TempCtrl"}
    .wrap.row
      .large-12.columns
        %h3.wrap 温度实时查看
        #legend.right
        %br
        #temp-graph
    .wrap.row
      .large-3.columns
        %label.blue.label= '起始'
        %input#datetimestart{type: 'text'}
      .large-3.columns
        %label.label.blue= '终止'
        %input#datetimeend{type: 'text'}
        .wrap
      .large-4.columns
        %br
        .row
          .large-2.columns
            #loader.hide
              %i.fa.fa-spinner.fa-spin
          .large-10.columns
            %span.btn.button.tiny.blue{:'ng-click' => "filterDate($event)"}= "确定"
            %span.btn.button.tiny.blue{:'data-reveal-id' => "exportModal", :'data-tooltip' => true, title: 'Save as data.json , UTC format'}= "导出"
    #exportModal.reveal-modal.text-center{:'data-reveal' => true}
      %p= "您确定导出所选数据吗?"
      %p
        %span {{starttime}}
        %span -
        %span {{endtime}}
      %span.btn.button.tiny.blue{:'ng-click' => "exportData($event)"}= "确定"
      %a.close-reveal-modal &#215;
