.brand
  .bg
  .my-img
    = link_to home_profile_path do
      = image_tag("me.png")
  .content
    .row
      %ul.nav.inline-list
        %li
          %a.default{:href => "#about"} 关于
        %li
          = link_to "叶子拼图", leaves_path, :class => "default"
        %li
          = link_to "温度监控", temp_index_path, :class => "default"
        %li
          = link_to "所有项目", projects_path, :class => "default"
        %li
          = link_to "简历", home_profile_path, :class => "default"
        %li
          %a.default{:href => "http://blog.wendycan.org"} 博客
.about#about.wrap
  .row.text-center
    .large-12.columns.text
      %h2 关于我
      %br
      %p 一个大胆，新奇，激情的姑娘，热爱生活的点点滴滴
    %ul.large-block-grid-4
      %li
        %i.fa.fa-book.brown-color
        %br
        书籍
      %li
        %i.fa.fa-leaf.green-color
        %br
        生物
      %li
        %i.fa.fa-code.blue-color
        %br
        编程
      %li
        %i.fa.fa-music.orange-color
        %br
        音乐
.blogs.wrap.gray-bg
  .row.text-center
    .large-6.columns
      = image_tag("blogs.png")
    .large-6.columns
      %br
      %h2 博客
      %br
      %p 分享技术，经历，想法
.projects.wrap
  .row.text-center
    .large-12.columns
      %h2 项目
      %br
      %p 展示我经营的项目,希望得到你的反馈
