.brand
  .bg
  .my-img
    = link_to info_profile_path do
      = image_tag("me.png")
  .content
    .row.show-for-medium-up
      %ul.nav.large-block-grid-6
        %li
          %a.default{:href => "/#about"} 关于
        %li
          = link_to "售卖", home_sales_path, :class => "default current"
        %li
          = link_to "项目", projects_stars_path, :class => "default"
        %li
          = link_to "工具", tools_index_path, :class => "default"
        %li
          = link_to "旅程", tour_index_path, :class => "default"
        %li
          = link_to "简历", info_profile_path, :class => "default"
        %li
          %a.default{:href => "http://yuetai.wendycan.org"} 阅台
    .row.show-for-small
      %ul.small-block-grid-3.text-center
        %li
          = link_to "所有项目", projects_path, :class => "default"
        %li
          = link_to "简历", info_profile_path, :class => "default"
        %li
          %a.default{:href => "http://yuetai.wendycan.org"} 阅台
.about#about.wrap
  .row.text-center
    .large-12.columns.text
      %h2 关于我
      %br
      %p 一个大胆，新奇，激情的姑娘，热爱生活的点点滴滴
    %ul.large-block-grid-4.small-block-grid-2
      %li
        %i.fa.fa-book.brown-color
        %br
        书籍
      %li
        %i.fa.fa-leaf.green-color
        %br
        生物
      %li
        %i.fa.fa-code.blue-color
        %br
        编程
      %li
        %i.fa.fa-music.orange-color
        %br
        音乐
.blogs.wrap.gray-bg
  .row.text-center
    .large-6.columns
      = image_tag("blogs.png")
    .large-6.columns
      %br
      %h2 阅台
      %br
      %p 分享技术，经历，想法
.projects.wrap
  .row.text-center
    .large-12.columns
      %h2 项目
      %br
      %p 展示我经营的项目,希望得到你的反馈
