.summary
  .row.small-12
    #fullpage
      .section.first-color
        %h3 从 2015 到 2016
        %p 时光荏苒，岁月如梭，匆匆的一年就过去了。此刻，回望过去的一年，展望刚刚开始的新的一年。
      .section.second-color
        %h3 获得的技能
        %p.wow.slideInLeft 主要分为以下几个方面
        .wow.slideInLeft
          %span.label.round.success 刀
          %span.label.round.success 食
          %span.label.round.success 布
          %span.label.round.success 印
          %span.label.round.success 花
          %span.label.round.success 体
          %span.label.round.success 乐
          %span.label.round.success 发
          %span.label.round.success 技
      .section.second-color
        %h3 刀
        %p.wow.slideInLeft 刀刀已经可以听懂并在大多数情况下执行以下指令
        .wow.slideInLeft
          %span.label.round sit
          %span.label.round stand
          %span.label.round byebye
        %p.wow.slideInLeft 当以 wendy 式口吻重复“你干嘛呢”“谁干的”时，刀刀会意识到自己做了其不该做的事情，并下自觉垂下头来，做无辜状，并偷瞟你。
      .section.second-color
        %h3 食
        %p.wow.slideInLeft 新学烘焙技术，可以做出好吃的蔓越莓饼干和焦糖布丁
        %p.wow.slideInLeft 熟悉并实现各种陕西大饼的制作，包括葱油饼、菜合等
        %p.wow.slideInLeft 熟悉并实现各种陕西面食的制作，包括凉鱼、臊子面、泡馍、疙瘩汤、麻食等
        %p.wow.slideInLeft 中式菜更上一层楼，红烧肉、麻辣豆腐、香锅皆获好评，凉拌菜已炉火纯青
        = image_tag("summary/food_1.png")
      .section.second-color
        = image_tag("summary/food_2.png")
      .section.second-color
        %ul.small-block-grid-2
          %li
            = image_tag("summary/food_3.png")
          %li
            = image_tag("summary/food_4.png")
      .section.second-color
        %h3 布
        %p.wow.slideInLeft 抱枕、枕头、被罩、窗帘等日常布艺品皆可如法炮制，另外可以根据屋内布局设计并实现有新意的布艺作品。
        %ul.small-block-grid-2
          %li
            = image_tag("summary/cloth_1.png")
          %li
            = image_tag("summary/cloth_2.png")
      .section.second-color
        = image_tag("summary/cloth_3.png")
      .section.second-color
        %ul.small-block-grid-2
          %li
            = image_tag("summary/cloth_4.png")
          %li
            = image_tag("summary/cloth_5.png")
      .section.second-color
        %h3 印
        %p.wow.slideInLeft 可提供拍摄并打印证件照服务，并自行生产拖地卡
        %ul.small-block-grid-2
          %li
            = image_tag("summary/print_2.png")
          %li
            = image_tag("summary/print_3.png")
      .section.second-color
        = image_tag("summary/print_1.png")
      .section.second-color
        %h3 花
        %p.wow.slideInLeft 植物
        = image_tag("summary/flower_3.png")
      .section.second-color
        %ul.small-block-grid-1
          %li
            = image_tag("summary/flower_1.png")
          %li
            = image_tag("summary/flower_2.png")
      .section.second-color
        %h3 体
        %p.wow.slideInLeft 瑜伽修行已4个半个月，保持每周两节的瑜伽课的学习，并在课下收录三枚徒弟传授瑜伽，同时编写瑜伽一百零八式秘籍。
        %p.wow.slideInLeft 保持每周一次的游泳量，已熟悉水下环境，并可偶尔游行。
        %ul.small-block-grid-2
          %li
            = image_tag("summary/yoga_1.png")
          %li
            = image_tag("summary/yoga_3.png")
      .section.second-color
        %h3 乐
        %p.wow.slideInLeft 彻底放弃电子琴，进军古筝，已熟悉基本理论，并能弹奏几首小曲。
        = image_tag("summary/music_1.png")
      .section.second-color
        = image_tag("summary/music_2.png")
      .section.second-color
        %h3 发
        %p.wow.slideInLeft 洗剪吹技术已成熟，并为四个头实践了剪的服务，其中包括一个狗头，三个人头。
      .section.second-color
        %h3 技
        %p.wow.slideInLeft 很高兴告诉你，我还在继续前端开发中……
        %p.wow.slideInLeft 除了基本技能提升，以下是新使用的东东
        .wow.slideInLeft
          %ul
            %li.slideInLeft SVG 和 Canvas
            %li.slideInLeft React
            %li.slideInLeft Vue
            %li.slideInLeft Fabric
        %p 有点一事无成，懈怠过多。
      .section.third-color
        %h3 养成的好习惯
        .wow.bounceInUp
          %ul
            %li 每天遛狗，刮风下雨无障碍
            %li 每天写日记
            %li 电视已远离生活
      .section.forth-color
        %h3 尚未摆脱的恶习
        .wow.bounceInUp
          %ul
            %li 早起的习惯，一年之中起起落落
            %li 严于律人，宽以待己
      .section.second-color
        %h3 读过的书
        .wow.bounceInUp
          %ul
            %li 我是一只粉笔 - 叶庆炳
            %li 额尔古纳河右岸 - 迟子建
            %li 农历 - 郭文斌
            %li 基督山伯爵 -  大仲马
            %li 巨流河（繁、简） - 齐邦媛
            %li 围城 - 钱钟书
            %li 暗时间 - 刘未鹏
            %li 人兽鬼 - 钱钟书
            %li 我们仨 - 杨绛
            %li 走在人生边上 - 杨绛
            %li 将饮茶 - 杨绛
            %li React 引领未来的用户界面开发框架
            %li SVG 精髓
            %li ECMAScript 6 入门
      .section.third-color
        %h3 去过的地方
        .wow.bounceInUp
          %ul
            %li 西安(秦兵马俑，骊山)
            %li 南京(紫金山)
            %li 杭州(灵隐寺，西湖)
            %li 东阳(横店)
            %li 深圳
            %li 上海
      .section.forth-color
        %h3 结交了二三好友
      .section.second-color
        %h3 发生的故事
        %p 动物们
        %p 屋内重构
      .section.second-color
        %h3 两只猫和一只狗的故事
        = image_tag("summary/animal_1.png")
      .section.second-color
        %ul.small-block-grid-2
          %li
            = image_tag("summary/animal_2.png")
          %li
            = image_tag("summary/animal_3.png")
      .section.second-color
        = image_tag("summary/animal_4.png")
      .section.second-color
        %ul.small-block-grid-2
          %li
            = image_tag("summary/animal_5.png")
          %li
            = image_tag("summary/animal_6.png")
      .section.second-color
        %h3 屋内重构
        = image_tag("summary/room_1.png")
      .section.second-color
        = image_tag("summary/room_2.png")
      .section.second-color
        %ul.small-block-grid-2
          %li
            = image_tag("summary/room_3.png")
          %li
            = image_tag("summary/room_4.png")

= content_for :js_ext do
  :javascript
    $(document).ready(function() {
      $('#fullpage').fullpage({
        scrollBar: true,
        });
      new WOW().init({
        mobile: true
      });
    });
