- content_for :title do
  = 'Cherish'

.row
  .large-12.columns
    #todoapp
      %p.text-center
        %i.fa.fa-spinner.fa-spin.fa-3x
%ul.hide
  %li#audio-login
    = image_tag("hint-login.mp3")
  %li#audio-new-message
    = image_tag("hint-new-message.mp3")
  %li#circle
    = image_tag("circle.png")
%script{id: 't-todos', type: 'text/template'}
  .todos-body
    #header
      %span.group work
      %select#new-todo-group
        %option{value: 'work'} work
        %option{value: 'family'} family
        %option{value: 'personal'} personal
        %option{value: 'study'} study
        %option{value: 'daodao'} daodao
        %option{value: 'wendycan'} wendycan
        %option{value: 'books'} books
        %option{value: 'others'} others
      %input#new-todo{placeholder: 'What needs to be done?', autofocus: true}
    %section#main
      %input#toggle-all{type: 'checkbox'}
      %label{'for' => 'toggle-all'} Mark all as complete
      %ul#todo-list
      .loading.text-center
        %i.fa.fa-spinner.fa-spin.fa-3x
    %footer#footer

%script{id: 'item-template', type: 'text/template'}
  .view
    <% if (completed) { %>
    %input.toggle{type: 'checkbox', checked: ''}
    <% } else { %>
    %input.toggle{type: 'checkbox'}
    <% } %>
    %span.group <%= group || '工作' %>
    %select
      %option{value: 'work'} work
      %option{value: 'family'} family
      %option{value: 'personal'} personal
      %option{value: 'study'} study
      %option{value: 'daodao'} daodao
      %option{value: 'wendycan'} wendycan
      %option{value: 'books'} books
      %option{value: 'others'} others
    %label
      <%-  title %>
    .time-pickers
      %input
      %span -
      %input
    %button.destroy
  %input.edit{value: '<%= title %>'.html_safe}

%script{id: 'stats-template', type: 'text/template'}
  %span#todo-count
    %strong
      <%= remaining %>
    <%= remaining === 1 ? 'item' : 'items' %>
    left
  %ul#filters
    %li
      %a.selected{:href => "#order"} All
    %li
      %a{:href => "#order/active"} Active
    %li
      %a{:href => "#order/completed"} Completed

%script{id: 't-history', type: 'text/template'}
  %table
    %thead
      %tr
        %th.title 标题
        %th.group 类别
        %th.time 创建时间
        %th.time 开始时间
        %th.time 结束时间
        %th.distance 用时
        %th.completed 完成
    %tbody#records
  .loading.text-center
    %i.fa.fa-spinner.fa-spin.fa-3x
  #paginator

%script{id: 't-record', type: 'text/template'}
  %tr
    %td <%= title %>
    %td <%= group %>
    %td <%= created_at %>
    %td <%= start_at %>
    %td <%= end_at %>
    %td <%= distance %>
    %td
      <% if (completed) { %>
      %span.fa.fa-check
      <% } else { %>
      %span.fa.fa-close
      <% } %>


%script{id: 't-long-term', type: 'text/template'}
  .row#long-term-area.long-term-area
    .large-6.columns#long-term-edit-area
      #long-term-edit
      .button.tiny#long-term-save
        保存
    .large-6.columns
      #long-term-result
      .button.tiny#long-term-edit-btn
        编辑

%script{id: 't-alert-success', type: 'text/template'}
  %li.no-padding
    .alert-box.success{'data-alert' => true}
      <%= msg %>

%script{id: 't-alert-error', type: 'text/template'}
  %li.no-padding
    .alert-box.warning{'data-alert' => true}
      <%= msg %>

%script{id: 't-others', type: 'text/template'}
  .chat-settings
    %i.fa.fa-volume-up#audio-setting
  .chat-message
    %ul#message-list
  .chat-form
    %form#chart-form
      %input{type: 'text'}
      %button.button.tiny{type:'submit'} 发送

%script{id: 't-joiners', type: 'text/template'}
  .chat-joiners.text-center
    %span.label.success
      <%= users %>
      在线

%script{id: 't-message', type: 'text/template'}
  %li.todo-message
    %strong <%= username %>
    %small
      <%= status %>
    <%= title %>
    %small
      %i.fa.fa-clock-o
      <%= time %>

%script{id: 't-my-message', type: 'text/template'}
  %li.todo-my-message.text-right
    %strong 我
    %small
      <%= status %>
    <%= title %>
    %small
      %i.fa.fa-clock-o
      <%= time %>

%script{id: 't-chart-message', type: 'text/template'}
  %li.chat-message
    %strong <%= username %>
    %small
      %i.fa.fa-clock-o
      <%= time %>
    %p <%= text %>

%script{id: 't-chart-my-message', type: 'text/template'}
  %li.chat-my-message.text-right
    %strong 我
    %small
      %i.fa.fa-clock-o
      <%= time %>
    %p <%= text %>

%script{id: 't-map', type: 'text/template'}
  #map

= javascript_include_tag "app-backbone"

= content_for :js_ext do
  :javascript
    $(document).ready(function () {
      var router = new app.TodoRouter;
      Backbone.history.start();
    })
