.profile
  .info.wrap
    .row
      .large-12.columns
        %h3 基本信息
    .row
      .large-6.columns
        %p
          %strong= "姓名"
          = "王欣"
        %p
          %strong= "性别"
          = "女"
        %p
          %strong= "现居地"
          = "南京"
        %p
          %strong= "籍贯"
          = "西安"
        %p
          %strong= "出生年月"
          = "1992.09"
      .large-6.columns
        %p
          %strong= "学校"
          = "东南大学"
        %p
          %strong= "专业"
          = "生物医学工程(医学电子)"
        %p
          %strong= "学历"
          = "本科"
        %p
          %strong= "邮箱"
          = "wilxnwang@gmail.com"
  .row
    %hr
  .projects.wrap
    .row
      .large-12.columns
        %h3 项目经验
    .row
      .large-12.columns
        %ul.large-block-grid-3
          %li
            %p.date 2011-9 至 2011-10
            %p.name MFC 电子相册管理系统
            %p.desc 要求实现用户相册的管理
            %p.role 组长
            %p.count 3人
            %p.skill VC++，MFC
            %p.property 课程项目
          %li
            %p.date 2012-5 至 2012-7
            %p.name ICC(Integrated Considerate Calendar)
            %p.desc 产品可以从心理、运动等方面来记录用户的信息，从而提供合理的建议
            %p.role 组长
            %p.count 3人
            %p.skill Java+sqlite3+android2.3.1
            %p.property 比赛（获三等奖）

          %li
            %p.date 2012-3至2013-3
            %p.name PECK 医疗服务网站
            %p.desc 网站主要实现预诊断功能、健康生活和医患交流平台
            %p.role 组长
            %p.count 4人
            %p.skill 后台架构Linux+Nginx+Mysql+Ruby，前台Html5,Css3,Javascript
            %p.property 课外研学项目（评审获良）

          %li
            %p.date 2013-5 至 2013-6
            %p.name 极客行动官方网站
            %p.role 前端开发
            %p.count 4人
            %p.skill Html + Javascript + Css3, 框架： Bootstrap
            %p.link
              可访问(
              %a{:href => "http://geekon.geekstack.org"} 极客行动
              )
            %p.property 公司项目
          %li
            %p.date 2013-6 至 2013-7
            %p.name 电商网站
            %p.count 1人
            %p.skill Html + Javascript + Css3, 框架： Wordpress
            %p.property 兼职
          %li
            %p.date 2014-2 至 2014-3
            %p.name OBU船舶项目
            %p.desc 可以显示船舶地理位置等信息，并能查看船舶轨迹
            %p.role 前端开发
            %p.count 4人
            %p.skill Html + Javascript + Css3, 框架：Middleman + Backbone + Foundation + Leaflet
            %p.link
              可访问(
              %a{:href => "http://obu.dotide.com"} OBU
              )
            %p.property 公司合作项目

          %li
            %p.date 2013-7 至今
            %p.name Dotide
            %p.desc 时序数据存储和显示
            %p.role 前端开发
            %p.count 4人
            %p.skill 后台:Ruby，前台:Html5,Css3,Javascript,Angular
            %p.link
              可访问(
              %a{:href => "http://dotide.com"} Dotide
              )
            %p.property 公司项目

          %li
            %p.date 2014-4 至今
            %p.name Leaves Collage
            %p.desc 叶子图像处理，可进行拼图
            %p.role 组长
            %p.count 2人
            %p.skill 后台:Ruby，前台:Html5,Css3,Javascript,Angular，软件：Qt, OpenCV
            %p.link
              可访问(
              = link_to "Leaves Collage", leaves_path
              )
            %p.property 比赛
  .row
    %hr
  .skills.wrap
    .row
      .large-12.columns
        %h3 技能
    .row
      .large-6.columns
        %p
          %strong IT技能
          熟练使用C++，ruby，html5+css3；熟悉java、汇编、Mysql，android开发。熟悉网站开发架构，熟悉软件开发（MFC，android平台)，有两年web前端开发经验；具备Linux/Unix平台开发经验.
      .large-6.columns
        %p
          %strong 英语技能
          大学英语四级
  .row
    %hr
  .work.wrap
    .row
      .large-12.columns
        %h3 工作经历
    .row
      .large-12.columns
        %ul
          %li
            %p.date 2011-8 至 2012-9
            %p.job 东南大学棋牌协会宣传部长
          %li
            %p.date 2011-9 至 2012-9
            %p.job 东南大学院学生会任职
          %li
            %p.date 2011-9 至 2012-9
            %p.job 班委
          %li
            %p.date 2013-5 至今
            %p.job 南京自由风暴公司Web前端开发
  .row
    %hr
  .awards.wrap
    .row
      .large-12.columns
        %h3 获奖记录
    .row
      .large-12.columns
        %ul
          %li 东南大学第五届嵌入式系统设计三等奖(2012.7)
          %li 东南大学课程奖(2010,2011)
  .row
    %hr
  .course.wrap
    .row
      .large-12.columns
        %h3 已修课程
    .row
      .large-12.columns
        %p
          %strong 计算机类
          C++，计算机课程综合设计，高级软件设计与应用
        %p
          %strong 数学类
          工科数学分析，几何与代数，概率论与数理统计，数学建模
        %p
          %strong 硬件类
          计算机结构与逻辑设计，虚拟仪器，数字逻辑设计实践，电路基础，电子电路基础，微机原理与接口技术
        %p
          %strong 图像处理类
          信号与线性系统，数字图像处理
        %p
          %strong 其它
          大学物理，大学化学，生物物理，现代生物学,生物医学传感器等
  .row
    %hr
  .interests.wrap
    .row
      .large-12.columns
        %h3 兴趣爱好
    .row
      .large-12.columns
        %p
          %strong 爱好
          琴,中国象棋,围棋,武术,编程
  .row
    %hr
  .nature.wrap
    .row
      .large-12.columns
        %h3 性格
    .row
      .large-12.columns
        %p 一个大胆，新奇，激情的姑娘，热爱生活的点点滴滴
