.profile
  .info.wrap
    .row
      .large-12.columns
        %h3 基本信息
    .row
      .large-6.columns
        %p
          %strong= "姓名"
          = "王欣(wendy)"
        %p
          %strong= "性别"
          = "女"
        %p
          %strong= "现居地"
          = "南京"
        %p
          %strong= "籍贯"
          = "陕西西安"
        %p
          %strong= "出生年月"
          = "1992.09"
      .large-6.columns
        %p
          %strong= "学校"
          = "东南大学"
        %p
          %strong= "专业"
          = "生物医学工程(医学电子)"
        %p
          %strong= "学历"
          = "本科"
        %p
          %strong= "邮箱"
          = "wilxnwang@gmail.com"
        %p
          = "Github"
          %a{:href => "https://github.com/wendycan"} wendycan
  .row
    %hr
  .projects.wrap
    .row
      .large-12.columns
        %h3 项目经验
    .row
      .large-12.columns
        %ul.large-block-grid-3
          %li
            .project
              %p.date 2011-9  -  2011-10
              %p.name.tip-left{:'data-tooltip' => true, title: '课程项目'} MFC 电子相册管理系统
              %p.desc 要求实现用户相册的管理
              %p.role
                %small 共3人
                %span.label 任组长
              %p.skill
                %span.label.success VC++
                %span.label.success MFC
          %li
            .project
              %p.date 2012-5  -  2012-7
              %p.name.tip-left{:'data-tooltip' => true, title: '比赛（获三等奖）'} ICC
              %p.desc
                Integrated Considerate Calendar
                %br
                产品可以从心理、运动等方面来记录用户的信息，从而提供合理的建议
              %p.role
                %small
                  共3人
                %span.label 任组长
              %p.skill
                %span.label.success Java
                %span.label.success sqlite3
                %span.label.success Eclipse
          %li
            .project
              %p.date 2012-3 - 2013-3
              %p.name.tip-left{:'data-tooltip' => true, title: '课外研学项目（评审获良）'} PECK 医疗服务网站
              %p.desc 网站主要实现预诊断功能、健康生活和医患交流平台
              %p.role
                %small
                  共4人
                %span.label 任组长
              %p.skill
                %span.label.success Html5
                %span.label.success Css3
                %span.label.success Javascript
                %span.label.success Mysql
                %span.label.success Ruby
                %span.label.success Nginx
                %span.label.success Linux
          %li
            .project
              %p.date 2013-5  -  2013-6
              %p.name.tip-left{:'data-tooltip' => true, title: '公司项目'} 极客行动官方网站
              %p.role
                %small
                  共4人
                %span.label 任前端开发
              %p.skill
                %span.label.success Html5
                %span.label.success Css3
                %span.label.success Javascript
                %span.label.success Bootstrap
              %p.link
                %small
                  可访问(
                  %a{:href => "http://geekon.geekstack.org"} 极客行动
                  )
          %li
            .project
              %p.date 2013-6  -  2013-7
              %p.name.tip-left{:'data-tooltip' => true, title: '兼职'} 电商网站
              %p.role
                %small 1人
              %p.skill
                %span.label.success Html5
                %span.label.success Css3
                %span.label.success Javascript
                %span.label.success Wordpress
          %li
            .project
              %p.date 2014-2  -  2014-3
              %p.name.tip-left{:'data-tooltip' => true, title: '公司合作项目'} OBU船舶项目
              %p.desc 可以显示船舶地理位置等信息，并能查看船舶轨迹
              %p.role
                %small
                  共4人
                %span.label 任前端开发
              %p.skill
                %span.label.success Html5
                %span.label.success Css3
                %span.label.success Javascript
                %span.label.success Middleman
                %span.label.success Backbone
                %span.label.success Foundation
                %span.label.success Leaflet
              %p.link
                %small
                  可访问(
                  %a{:href => "http://obu.dotide.com"} OBU
                  )
          %li
            .project
              %p.date 2013-7 至今
              %p.name.tip-left{:'data-tooltip' => true, title: '公司项目'} Dotide
              %p.desc 时序数据存储和显示
              %p.role
                %small
                  共4人
                %span.label 任前端开发
              %p.skill
                %span.label.success Ruby
                %span.label.success Html5
                %span.label.success Css3
                %span.label.success Angular
              %p.link
                %small
                  可访问(
                  %a{:href => "http://dotide.com"} Dotide
                  )
          %li
            .project
              %p.date 2014-4 至今
              %p.name.tip-left{:'data-tooltip' => true, title: '比赛'} Leaves Collage
              %p.desc 叶子图像处理，可进行拼图
              %p.role
                %small
                  共2人
                %span.label 任组长
              %p.skill
                %span.label.success Ruby
                %span.label.success Html5
                %span.label.success Css3
                %span.label.success Javascript
                %span.label.success Angular
                %span.label.success Qt
                %span.label.success OpenCV
              %p.link
                %small
                  可访问(
                  = link_to "Leaves Collage", leaves_path
                  )
  .row
    %hr
  .skills.wrap
    .row
      .large-12.columns
        %h3 技能
    .row
      .large-6.columns
        %p
          %strong IT
        %p
          熟练使用C++，Ruby，Html5, Css3， Javascript, 及前端框架如Bootstrap, Foundation, Jquery, Backbone, Angular
          %br
          使用Java（Eclipse）、汇编、Mysql进行过Android及单片机的开发
          %br
          具备Linux/Unix平台开发经验
          %br
          熟悉网站开发架构，有两年web前端开发经验
      .large-6.columns
        %p
          %strong 英语
        %p
          大学英语四级
  .row
    %hr
  .work.wrap
    .row
      .large-12.columns
        %h3 工作经历
    .row
      .large-12.columns
        %ul
          %li
            %p.date 2011-8  -  2012-9
            %p.job 东南大学棋牌协会宣传部长
          %li
            %p.date 2011-9  -  2012-9
            %p.job 东南大学院学生会任职
          %li
            %p.date 2011-9  -  2012-9
            %p.job 班委
          %li
            %p.date 2013-5 至今
            %p.job 南京自由风暴公司Web前端开发
  .row
    %hr
  .awards.wrap
    .row
      .large-12.columns
        %h3 获奖记录
    .row
      .large-12.columns
        %ul
          %li 东南大学第五届嵌入式系统设计三等奖(2012.7)
          %li 东南大学课程奖(2010,2011)
  .row
    %hr
  .course.wrap
    .row
      .large-12.columns
        %h3 已修课程
    .row
      .large-12.columns
        %p
          %strong 计算机类
          C++，计算机课程综合设计，高级软件设计与应用, 数据结构
        %p
          %strong 数学类
          工科数学分析，几何与代数，概率论与数理统计，数学建模
        %p
          %strong 硬件类
          计算机结构与逻辑设计，虚拟仪器，数字逻辑设计实践，电路基础，电子电路基础，微机原理与接口技术，单片机应用及设计
        %p
          %strong 图像处理类
          信号与线性系统，数字图像处理
        %p
          %strong 其它
          大学物理，大学化学，生物物理，现代生物学,生物医学传感器，波动理论，生理学C，人体解剖与生理学等
  .row
    %hr
  .interests.wrap
    .row
      .large-12.columns
        %h3 兴趣爱好
    .row
      .large-12.columns
        %p
          %span.label.success 琴
          %span.label.success 中国象棋
          %span.label.success 围棋
          %span.label.success 武术
          %span.label.success 编程
  .row
    %hr
  .nature.wrap
    .row
      .large-12.columns
        %h3 性格
    .row
      .large-12.columns
        %p 一个大胆，新奇，激情的姑娘，热爱生活的点点滴滴
