.profile
  .info.wrap
    .row
      .large-12.columns
        %h3 基本信息
    .row
      .large-6.columns
        %p
          %strong= "姓名"
          = "王欣(wendy)"
        %p
          %strong= "性别"
          = "女"
        %p
          %strong= "出生年月"
          = "1992.09"
        %p
          %strong= "现居地"
          = "南京"
        %p
          %strong= "籍贯"
          = "西安"
      .large-6.columns
        %p
          %strong= "学校"
          = "东南大学"
        %p
          %strong= "专业"
          = "生物医学工程(医学电子)"
        %p
          %strong= "学历"
          = "本科"
        %p
          %strong= "邮箱"
          = "wendycaner@gmail.com"
        %p
          = "Github"
          %a{:href => "https://github.com/wendycan", target: "_blank"} wendycan
  .row
    %hr
  .projects.wrap
    .row
      .large-12.columns
        %h3 项目经验
    .row
      .large-12.columns
        %ul.large-block-grid-3.small-block-grid-1
          %li
            .project
              %p.date 2015-12
              %p.name.tip-left{:'data-tooltip' => true, title: '公司项目'} 四则运算和猜颜色小游戏
              %p.desc 分别使用原生的 svg 和 canvas 来实现
              %p.role
                %small
                  共1人
              %p.skill
                %span.label.success svg
                %span.label.success canvas
              %p.link
                %small
                  可访问(
                  %a{:href => "http://yun.baozou.com/games/brain/math/index.html", :target => "_blank"} 四则运算游戏
                  %span ，
                  %a{:href => "http://yun.baozou.com/games/brain/color/index.html", :target => "_blank"} 猜颜色游戏
                  )
          %li
            .project
              %p.date 2015-9 至 2015-12
              %p.name.tip-left{:'data-tooltip' => true, title: '公司项目'} 问题制作器
              %p.desc 使用 React 开发，编辑人员输入问题内容，即可生成用户使用的测试题网页
              %p.role
                %small
                  共1人
              %p.skill
                %span.label.success React
              %p.link
                %small
                  可访问(
                  %a{:href => "http://yun.baozou.com/baozouribao/web/quizz-of-timing/index.html", :target => "_blank"} 限时问题制作器
                  %span ，
                  %a{:href => "http://yun.baozou.com/baozouribao/web/type-of-guess/index.html", :target => "_blank"} 性格测试问题制作器
                  )
          %li
            .project
              %p.date 2015-8 至 2015-9
              %p.name.tip-left{:'data-tooltip' => true, title: '公司项目'} 暴走漫画制作器
              %p.desc 使用 FabricJS
              %p.role
                %small
                  共1人
              %p.skill
                %span.label.success Canvas
                %span.label.success FabricJS
              %p.link
                %small
                  可访问(
                  %a{:href => "http://baozoumanhua.com/h5makers/manhua?zg_event=H5%E6%9A%B4%E6%BC%AB%E5%88%B6%E4%BD%9C%E5%99%A8", :target => "_blank"} 暴走漫画制作器
                  )
          %li
            .project
              %p.date 2015-6 至 2015-7
              %p.name.tip-left{:'data-tooltip' => true, title: '公司项目'} H5 页面制作器
              %p.desc 使用 React 开发类似于 keynote 的 web 应用
              %p.role
                %small
                  共2人
              %p.skill
                %span.label.success React
              / %p.link
              /   %small
              /     可访问(
              /     %a{:href => "#", :target => "_blank"} H5 页面制作器
              /     )
          %li
            .project
              %p.date 2015-4 至 2015-5
              %p.name.tip-left{:'data-tooltip' => true, title: '公司项目'} 聊天室，并将位置实时显示在地图上
              %p.desc 使用 Express, Websocket
              %p.role
                %small
                  共1人
              %p.skill
                %span.label.success NodeJS
                %span.label.success Leaflet
                %span.label.success Websocket
          %li
            .project
              %p.date 2015-3 至 2015-4
              %p.name.tip-left{:'data-tooltip' => true, title: '公司项目'} 微信朋友圈制作器
              %p.desc 使用 FabricJS 开发，生成微信朋友圈的图片
              %p.role
                %small
                  共1人
              %p.skill
                %span.label.success Canvas
                %span.label.success Javascript
              %p.link
                %small
                  可访问(
                  %a{:href => "http://m.baozoumanhua.com/zhuangbi/timeline?from=web#&maker-view", :target => "_blank"} 微信朋友圈制作器
                  )
          %li
            .project
              %p.date 2015-3 至今
              %p.name.tip-left{:'data-tooltip' => true, title: '个人项目'} 阅台
              %p.desc 记录想法， 分享点滴
              %p.role
                %small
                  共2人
                %span.label 任全栈开发
              %p.skill
                %span.label.success Ruby
                %span.label.success Html5
                %span.label.success Css3
                %span.label.success Backbone
              %p.link
                %small
                  可访问(
                  %a{:href => "http://yuetai.larklearning.com", :target => "_blank"} 阅台
                  )
          %li
            .project
              %p.date 2014-4 至 2015-1
              %p.name.tip-left{:'data-tooltip' => true, title: '公司项目'} Tinysou
              %p.desc 最好用的站内搜索引擎
              %p.role
                %small
                  共4人
                %span.label 任前端开发
              %p.skill
                %span.label.success Ruby
                %span.label.success Html5
                %span.label.success Css3
                %span.label.success Backbone
              %p.link
                %small
                  可访问(
                  %a{:href => "http://tinysou.com", :target => "_blank"} Tinysou
                  )
          %li
            .project
              %p.date 2014-2  -  2014-3
              %p.name.tip-left{:'data-tooltip' => true, title: '公司合作项目'} OBU 船舶项目
              %p.desc 可以显示船舶地理位置等信息，并能查看船舶轨迹
              %p.role
                %small
                  共4人
                %span.label 任前端开发
              %p.skill
                %span.label.success Html5
                %span.label.success Css3
                %span.label.success Javascript
                %span.label.success Middleman
                %span.label.success Backbone
                %span.label.success Foundation
                %span.label.success Leaflet
          %li
            .project
              %p.date 2013-7 至 2014-3
              %p.name.tip-left{:'data-tooltip' => true, title: '公司项目'} Dotide
              %p.desc 时序数据存储和显示
              %p.role
                %small
                  共4人
                %span.label 任前端开发
              %p.skill
                %span.label.success Ruby
                %span.label.success Html5
                %span.label.success Css3
                %span.label.success Backbone
          %li
            .project
              %p.date 2013-6  -  2013-7
              %p.name.tip-left{:'data-tooltip' => true, title: '兼职'} 电商网站
              %p.role
                %small 1人
              %p.skill
                %span.label.success Html5
                %span.label.success Css3
                %span.label.success Javascript
                %span.label.success Wordpress
          %li
            .project
              %p.date 2013-5  -  2013-6
              %p.name.tip-left{:'data-tooltip' => true, title: '公司项目'} 极客行动官方网站
              %p.role
                %small
                  共4人
                %span.label 任前端开发
              %p.skill
                %span.label.success Html5
                %span.label.success Css3
                %span.label.success Javascript
                %span.label.success Bootstrap
          %li
            .project
              %p.date 2012-5  -  2012-7
              %p.name.tip-left{:'data-tooltip' => true, title: '比赛（获三等奖）'} ICC
              %p.desc
                Integrated Considerate Calendar
                %br
                产品可以从心理、运动等方面来记录用户的信息，从而提供合理的建议
              %p.role
                %small
                  共3人
                %span.label 任组长
              %p.skill
                %span.label.success Java
                %span.label.success sqlite3
                %span.label.success Eclipse
          %li
            .project
              %p.date 2012-3 - 2013-3
              %p.name.tip-left{:'data-tooltip' => true, title: '课外研学项目（评审获良）'} PECK 医疗服务网站
              %p.desc 网站主要实现预诊断功能、健康生活和医患交流平台
              %p.role
                %small
                  共4人
                %span.label 任组长
              %p.skill
                %span.label.success Html5
                %span.label.success Css3
                %span.label.success Javascript
                %span.label.success Mysql
                %span.label.success Ruby
                %span.label.success Nginx
                %span.label.success Linux
          %li
            .project
              %p.date 2011-9  -  2011-10
              %p.name.tip-left{:'data-tooltip' => true, title: '课程项目'} MFC 电子相册管理系统
              %p.desc 要求实现用户相册的管理
              %p.role
                %small 共3人
                %span.label 任组长
              %p.skill
                %span.label.success VC++
                %span.label.success MFC
  .row
    %hr
  .skills.wrap
    .row
      .large-12.columns
        %h3 技能
    .row
      .large-8.columns
        %p
          %strong IT
        %p
          会使用 C++，Ruby，熟悉 Html5(Haml, Jade, Slim), Css3(Scss)， Javascript(CoffeeScript, ES6), 及前端框架如 Foundation, Bootstrap, Jquery, Backbone, React 等
          %br
          使用 Java（Eclipse）、汇编、Mysql 进行过 Android 及单片机的开发
          %br
          具备 Linux/Unix 平台开发经验
          %br
          熟悉网站开发架构，有 3 年 web 前端开发经验
      .large-4.columns
        %p
          %strong 英语
        %p
          大学英语四级
  .row
    %hr
  .work.wrap
    .row
      .large-12.columns
        %h3 工作经历
    .row
      .large-12.columns
        %ul
          %li
            %p.date 2011-8  -  2012-9
            %p.job 东南大学棋牌协会宣传部长
          %li
            %p.date 2011-9  -  2012-9
            %p.job 东南大学院学生会任职
          %li
            %p.date 2011-9  -  2012-9
            %p.job 班委
          %li
            %p.date 2013-5 - 2015-1
            %p.job 南京自由风暴公司 Web 前端开发
          %li
            %p.date 2015-2 至今
            %p.job 暴走漫画 Web 前端开发
  .row
    %hr
  .awards.wrap
    .row
      .large-12.columns
        %h3 获奖记录
    .row
      .large-12.columns
        %ul
          %li 东南大学第五届嵌入式系统设计三等奖(2012.7)
          %li 东南大学课程奖(2010,2011)
  .row
    %hr
  .course.wrap
    .row
      .large-12.columns
        %h3 已修课程
    .row
      .large-12.columns
        %p
          %strong 计算机类
          C++，计算机课程综合设计，高级软件设计与应用, 数据结构
        %p
          %strong 数学类
          工科数学分析，几何与代数，概率论与数理统计，数学建模
        %p
          %strong 硬件类
          计算机结构与逻辑设计，虚拟仪器，数字逻辑设计实践，电路基础，电子电路基础，微机原理与接口技术，单片机应用及设计
        %p
          %strong 图像类
          信号与线性系统，数字图像处理
        %p
          %strong 其它
          大学物理，大学化学，生物物理，现代生物学,生物医学传感器，波动理论，生理学C，人体解剖与生理学等
  .row
    %hr
  .interests.wrap
    .row
      .large-12.columns
        %h3 兴趣爱好
    .row
      .large-12.columns
        %p
          %span.label.success 琴
          %span.label.success 中国象棋
          %span.label.success 围棋
          %span.label.success 武术
          %span.label.success 编程
  .row
    %hr
  .nature.wrap
    .row
      .large-12.columns
        %h3 性格
    .row
      .large-12.columns
        %p 一个大胆，新奇，激情的姑娘，热爱生活的点点滴滴

- content_for :title do
  = "简历"
