%nav.top-bar{:'data-topbar' => true}
  %ul.title-area
    %li.name
      %h1
        = link_to info_profile_path do
          = image_tag("me.png")
  %section.top-bar-section
    %ul.right
      %li
        %a.default{:href => "/"}
          %i.fa.fa-home
          首页
      %li
        = link_to leaves_path, :class => "default" do
          %i.fa.fa-leaf
          叶子拼图
      %li
        = link_to temp_index_path, :class => "default" do
          %i.fa.fa-bar-chart-o
          温度监控
      %li
        = link_to projects_path, :class => "default" do
          %i.fa.fa-th-large
          所有项目
      %li
        = link_to info_profile_path, :class => "default" do
          %i.fa.fa-user
          简历
      %li
        %a.default{:href => "http://blog.wendycan.org"}
          %i.fa.fa-bookmark
          博客
