.show-for-medium-up
  %nav.top-bar{:'data-topbar' => true}
    %ul.title-area
      %li.name
        %h1
          = link_to info_profile_path do
            = image_tag("me.png")
    %section.top-bar-section
      %ul.right
        %li
          %a.default{:href => "/"}
            %i.fa.fa-home
            首页
        %li
          = link_to home_sales_path, :class => "default" do
            %i.fa.fa-cny
            售卖
        %li
          = link_to todos_index_path, :class => "default" do
            %i.fa.fa-tasks
            Todos
        / %li
        /   = link_to projects_stars_path, :class => "default" do
        /     %i.fa.fa-github-alt
        /     项目
        %li
          = link_to tools_index_path, :class => "default" do
            %i.fa.fa-th
            项目
        / %li
        /   = link_to tour_index_path, :class => "default" do
        /     %i.fa.fa-paw
        /     旅程
        %li
          = link_to info_profile_path, :class => "default" do
            %i.fa.fa-user
            简历
        %li
          %a.default{:href => "http://yuetai.larklearning.com"}
            %i.fa.fa-book
            阅台
