!!!5
%head
  = render :partial => 'layouts/head'
%body
  .off-canvas-wrap{:'data-offcanvas' => true}
    = render :partial => "layouts/nav"
    .inner-wrap
      = render :partial => "layouts/small_nav"

      //= render :partial => "layouts/hint"

      = yield
      = render :partial => 'layouts/footer'
      %a.exit-off-canvas
